.testimonials{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
}

.testimonials__title{
    width: 100%;
    margin-bottom: 20px;
}
.testimonials__item{
    border: 2px solid var(--background-color-lightblue);
    border-radius: 15px;
    margin: 20px;
    flex: 1 1 auto;
    max-width: 400px;
}
.testimonials__quote, .testimonials__author{
    margin: 20px;
}

@media (max-width: 768px) {
    .testimonials {
        flex-direction: column; 
    }
}
