@import url(global.css);
@import url(home-main.css);

body {
    background: linear-gradient(to bottom right, var(--primary-dark), var(--primary-darker-green),
    var(--primary-light-green), var(--primary-cream));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-page {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.register-page__container {
    background: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.register-page__heading {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.register-page__form {
    display: flex;
    flex-direction: column;
}

.register-page__input-group {
    display: flex;
    justify-content: space-between;
}

.register-page__input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 48%;
}
.register-error-message{
    width: 100%;
    color: var(--bs-danger);
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 15px;
}

.register-page__input--email,
.register-page__input--username{
    width: 100%;
}

.register-page__button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.register-page__button {
    background-color: var(--primary-light-green);
}

.register-page__button:hover {
    background-color: var(--primary-darker-green);
}

.register-page__button--google {
    background-color: var(--bs-google-background);
}

.register-page__button--google:hover {
    background-color: var(--bs-body-color);
}

.register-page__divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.register-page__footer {
    text-align: center;
}

.register-page__link {
    color: var(--bs-gray-secondary);
    display: block;
    margin: 5px 0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-page__link:hover {
    color: var(--bs-red);
}
/* Tablet */
@media (max-width: 768px) {
    .register-page__container {
        width: 90%;
        padding: 30px;
    }

    .register-page__input-group {
        flex-direction: column;
    }

    .register-page__input {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 480px) {
    body {
        padding: 20px;
        height: auto;
    }

    .register-page__container {
        padding: 20px;
        width: 100%;
    }

    .register-page__heading {
        font-size: 1.5em;
    }

    .register-page__button {
        font-size: 14px;
    }
}
