<div class="sidebar" id="sidebar">
    <!-- Logo (Header) -->
    <div class="sidebar__header">
        <h3>Hi, <span th:text="${username}"></span></h3>
    </div>
    <!-- Sidebar Menu -->
    <div class="sidebar__menu">
        <ul class="sidebar__menu-list">
            <li class="sidebar__menu-item sidebar__menu-item--active">
                <a class="sidebar__url" href="/home">
                    <i class="fas fa-house sidebar__menu-item-icon"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <div class="sidebar__section-header">Interface</div>
            <li class="sidebar__menu-item">
                <i class="fas fa-cogs sidebar__menu-item-icon"></i>
                <span>Components</span>
            </li>
            <li class="sidebar__menu-item">
                <i class="fas fa-wrench sidebar__menu-item-icon"></i>
                <span>Utilities</span>
            </li>

            <div class="sidebar__section-header">Addons</div>
            <li class="sidebar__menu-item">
                <a class="sidebar__url" href="/charts">
                    <i class="fas fa-chart-area sidebar__menu-item-icon"></i>
                    <span>Charts</span>
                </a>
            </li>
            <li class="sidebar__menu-item">
                <a class="sidebar__url" href="/data">
                    <i class="fas fa-folder sidebar__menu-item-icon"></i>
                    <span>Data</span>
                </a>
            </li>
            <li class="sidebar__menu-item">
                <a class="sidebar__url" href="/shares">
                    <i class="fas fa-landmark sidebar__menu-item-icon"></i>
                    <span>Shares</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Toggle Button -->
    <div class="sidebar__toggle-container">
        <button class="sidebar__toggle-button" id="sidebarToggle"><</button>
    </div>

    <!-- Sidebar Footer -->
    <div class="sidebar__footer">
        <span>&copy; Your Company</span>
    </div>
</div>