<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged in</title>
    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/scripts.js" defer></script>
    <!-- Include your script.js file -->
  </head>

  <body>
    <header>
        <h1>Greetings, You got logged in by spring!</h1>
    </header>
    <main>
        <section>
            
        </section>
    </main>
    <footer>

    </footer>
  </body>
</html>
